@{
    ViewData["Title"] = "Forside";
}
<style type="text/css">
    body {
        background: white !important;
    }
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

<body>

    <div class="container">



        <main role="main" class="pb-3">

            <div class="text-center">
                <h1 class="display-4">Fordi alle skal have en chance</h1>
                <p>Se vores produkter <a href="/product/products">her</a>.</p>

                <div class="row mt-4 ">
                    <div class="col-sm-6">
                        <div class="card border-dark">
                            <div class="card-body">
                                <img class="card-img-top" src="https://api.fleekframework.com/sites/VITEC.png" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card border-dark">
                            <div class="card-body">
                                <img class="card-img-top" src="https://api.fleekframework.com/sites/CDORDFRONT.png" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                <h3>Se hvordan vi er med til at gøre en forskel</h3>
                <div class="row mt-4">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe width="1680" height="718" src="https://www.youtube.com/embed/Es2j-3_6Jmo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>
                <p></p>
                <div class="card text-center  border-dark">

                    <div class="card-body">
                        <h5 class="card-title">CD-ORD</h5>
                        <p class="card-text">Pc-baseret læse- og skriveprogram, der hjælper usikre læsere og ordblinde.</p>
                        <a href="#" class="btn btn-primary">Se mere</a>
                    </div>

                </div>

                <div class="card text-center mt-4 border-dark">

                    <div class="card-body">
                        <h5 class="card-title">Kontakt</h5>
                        <p class="card-text">Har du spørgsmål?</p>
                        <a href="#" class="btn btn-primary">Kontakt os her</a>
                    </div>

                </div>


            </div>

        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <div style="background-color: #6351ce;">
            <div class="container h-25">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Vitec</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        Vitec er en nordisk softwarevirksomhed. Vi udvikler virksomhedskritisk software til specifikke branchers unikke behov – Vertical Market Software.
                    </p>

                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> VITECVEJ 1, ODENSE
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> vitec@vitec.dk
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 45 32 23 43 23
                    </p>


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>
    </footer>

</body>