@{
    ViewData["Title"] = "Produkter";
}
<h1 align="center">@ViewData["Title"]</h1>

<p align="center">Her kan du se vores sortiment af produkter:</p>

<div class="row">
    <div class="col-sm-6" style="width:18rem;">
        <img class="card-img-top" src="https://api.fleekframework.com/sites/CDORD.png" alt="Card image cap">
        <div class="card-body">
            <h5 align="center" class="card-title">CD-ORD</h5>
            <p align="center" class="card-text">12 måneders abonnement<br />Køb nu og spar 40%<br />Nu KUN 420,-</p>
            <a align="center" href="#" class="btn btn-primary">Bestil nu</a>
        </div>
    </div>
    <div class="col-sm-6" style="width:18rem;">
        <img class="card-img-top" src="https://api.fleekframework.com/sites/INTOWORDS.png" alt="Card image cap">
        <div class="card-body">
            <h5 align="center" class="card-title">IntoWords</h5>
            <p align="center" class="card-text">12 måneders abonnement<br />Køb nu og spar 40%<br />Nu KUN 420,-</p>
            <a href="#" class="btn btn-primary">Bestil nu</a>
        </div>
    </div>
</div>

